<aside>
	<div class="panel radius">
		<h3><a href="/InnerSourceCommons/events/isc-fall-2016/">ISC Summit</a></h3>
		<p>
		  Please join us at the next <a href="/InnerSourceCommons/events/isc-spring-2017/">InnerSource Commons Summit</a>! We will be meeting April 18-20 in Geneva, Switzerland.
		</p>
	</div>
	<div class="panel radius">
	  <h3><a href="/InnerSourceCommons/assets/files/InnerSourceCommonsSurvey2016.pdf">InnerSource Survey</a></h3>
	  <p>
	    Many organizations care about InnerSource - some are already deeply involved, some just considering starting. Here are the results from the <a href="/InnerSourceCommons/assets/files/InnerSourceCommonsSurvey2016.pdf">2016 InnerSource Survey</a>
	  </p>
	</div>
	
  <div class="border-dotted radius b30">
    <p class="text-left">
      Connect with the community
	<script async defer src="https://isc-inviter.herokuapp.com/slackin.js"></script>
    </p>
    <p class="text-left">
      This site maintained on <a href="https://github.com/paypal/InnerSourceCommons">GitHub</a>
      <br />
      <a href="https://github.com/paypal/InnerSourceCommons/issues"><img src="https://img.shields.io/github/issues/paypal/InnerSourceCommons.svg" alt="Issues"></a>
      <br />
      <a href="https://github.com/paypal/InnerSourceCommons"><img src="https://img.shields.io/github/forks/paypal/InnerSourceCommons.svg?style=social&label=Fork" alt="Fork"></a>
      <br />
      Check out the <a href="https://github.com/paypal/InnerSourceCommons/wiki">InnerSource Commons wiki</a>!
    </p>
  </div>
</aside>
