<aside>
	<div class="panel radius">
		<h3><a href="/InnerSourceCommons/events/isc-fall-2017/">ISC Summit</a></h3>
		<p>
      Join us at the next summit!  It will be posted on the <a href="/InnerSourceCommons/events/">events</a> page as dates and locations are finalized.
		</p>
	</div>
    <div class="panel radius">
        <h3><a href="http://www.oreilly.com/pub/e/3884">O'Reilly Webinar</a></h3>
        <p>Learn about <a href="https://github.com/paypal/InnerSourcePatterns">InnerSource Patterns</a> by watching the replay of the <em>Implementing InnerSource Patterns: Solve Organizational Problems by Leveraging Community Contributions</em> webinar from Thursday, June 1, 2017.
        </p>
    </div>

	<div class="panel radius">
	  <h3><a href="/InnerSourceCommons/assets/files/InnerSourceCommonsSurvey2016.pdf">InnerSource Survey</a></h3>
	  <p>
	    Many organizations care about InnerSource - some are already deeply involved, some just considering starting. Here are the results from the <a href="/InnerSourceCommons/assets/files/InnerSourceCommonsSurvey2016.pdf">2016 InnerSource Survey</a>
	  </p>
	</div>
	
  <div class="border-dotted radius b30">
    <p class="text-left">
      Connect with the community
	<script async defer src="https://isc-inviter.herokuapp.com/slackin.js"></script>
    </p>
    <p class="text-left">
      This site maintained on <a href="https://github.com/paypal/InnerSourceCommons">GitHub</a>
      <br />
      <a href="https://github.com/paypal/InnerSourceCommons/issues"><img src="https://img.shields.io/github/issues/paypal/InnerSourceCommons.svg" alt="Issues"></a>
      <br />
      <a href="https://github.com/paypal/InnerSourceCommons"><img src="https://img.shields.io/github/forks/paypal/InnerSourceCommons.svg?style=social&label=Fork" alt="Fork"></a>
      <br />
      Check out the <a href="https://github.com/paypal/InnerSourceCommons/wiki">InnerSource Commons wiki</a>!
    </p>
  </div>
</aside>
