<aside>
	<div class="panel radius">
		<h3><a href="/InnerSourceCommons/events/isc-spring-2016/">ISC Summit</a></h3>
		<p>
		  Please join the discussion about the next InnerSource Commons Summit! We are expecting to hold it in Boston, USA in September of 2016.
		</p>
	</div>

  <div class="border-dotted radius b30">
    <p class="text-left">
      Connect with the community
	<script async defer src="https://isc-inviter.herokuapp.com/slackin.js"></script>
    </p>
    <p class="text-left">
      This site maintained on <a href="https://github.com/paypal/InnerSourceCommons">GitHub</a>
      <br />
      <a href="https://github.com/paypal/InnerSourceCommons/issues"><img src="https://img.shields.io/github/issues/paypal/InnerSourceCommons.svg" alt="Issues"></a>
      <br />
      <a href="https://github.com/paypal/InnerSourceCommons"><img src="https://img.shields.io/github/forks/paypal/InnerSourceCommons.svg?style=social&label=Fork" alt="Fork"></a>
    </p>
  </div>
</aside>
